*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/build/
/unit1_3textandscrollingviews/.gitignore
/Unit1_4 Use project templates/.gitignore
/unit2_1activitiesandintents/.gitignore
/unit2_1activitiesandintents/proguard-rules.pro
